---
permalink: "/"
layout: template.liquid
renderData:
    titlecard: SEOslides<em>.page</em>
    topheading: Welcome
    metadesc: "A collaborative index of all the digital marketing conference slides, video, and audio recordings."
    description: show_count
---
<section class="standard home">
<h2>About</h2>
<p>Welcome to SEOSlides<em>.page</em> a collaborative index of all the digital marketing conference slides, video, and audio recordings.</p>
<p>This site is open source and can be contributed to via its Github repository. Contribution instructions and guidelines can be found on the <a href="#">Contribute</a> page.</p>
<h2>Browse</h2>
<p>Browse the site in a number of ways to find what you're looking for.</p>
<p><a href="/talks/2020/">Browse the most recent talks</a></p>
<p><a href="/talks/">Browse the talks ordered by year</a></p>
<p><a href="/conferences/">Browse the conferences alphabetically</a></p>
<p><a href="/speakers/">Browse the speakers alphabetically</a></p>
<h2>Recent Changes</h2>
<ul class="changelog">
{%- for commit in collections.changelog limit:10 -%}
  <li><span class="change-date">{{ commit.authorDate }}</span> {{ commit.subject | remove: "[p] "}}</li>
{%- endfor -%}
<ul>
<h2>Contact</h2>
<p>If you have any questions or queries I can be contacted over on Twitter at <a href="https://www.twitter.com/defaced/" target="_blank">@defaced</a> or send an email to <a href="mailto:hello@seoslides.page">hello@seoslides.page</a></p>
</section>
